@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400..600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$dark: #121c26;
$medium: #2c3e50;
$lightmedium: rgb(161, 207, 198);
$light: #ecf0f1;
$constrast: #a85100;
$font: 'Dosis', sans-serif;
$font_2: 'Montserrat', sans-serif;