
//Fonter
$font-sans-seriff: 'Candara', sans-serif;
$font-monospace: 'Nanum+Gothic+Coding', monospace;
//Farger
$darker: rgb(0, 37, 38);
$dark: rgb(0, 63, 65);
$medium: rgb(0, 85, 88);
$light: rgb(70, 139, 142);
$lighter: rgb(147, 190, 192);
$constrast: rgb(182, 97, 6);