
//Fonter
$font-sans-seriff: 'Candara', sans-serif;
$font-monospace: 'Nanum+Gothic+Coding', monospace;
//Farger
$dark: rgb(0, 63, 65);
$medium: rgb(0, 85, 88);
$light: rgb(70, 139, 142);
$lighter: rgb(116, 191, 195);
$constrast: rgb(182, 138, 18);