@import './variables';

body{
    display: flex;
    flex-wrap: wrap;
    font-family: $font-sans-seriff;
    margin: 0;
    background-color: $medium;
    color: white;
    
    
    h1, h2, h3{
        font-family: $font-monospace;
    }

    .header{
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: $darker;
        img{
            margin-top: 1rem;
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            object-fit: cover;
        }
        P{
            font-family: $font-monospace;
            color: $light;
            margin: 0 2rem;
            padding-bottom: 1rem;
        }
        div{
            margin: 0 2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-between;

                h1{
                    max-height: 20vh;
                    margin: 0.5rem 0;
                    color: $constrast;
                    font-weight: 200;
                    font-size: 3rem;
                }
                #name{
                    font-weight: lighter;
                    margin-top: 0.8rem;
                }
            }
    }
    main{
        // background-color: $lighter;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $darker;
        
        .project-card{
            border-radius: 1rem;
            margin: 1rem;
            padding: 1rem 2rem;
            width: 30vw;
            box-shadow:  1px 5px 10px rgba(0, 0, 0, 0.4);
            // border: 3px, solid, rgb(132, 78, 78);
            h3{
                font-size: larger;
            }
            img{
                max-width: 15vw;
                box-shadow:  1px 5px 10px rgba(0, 0, 0, 0.4);
                
            }
        }
        article{
            background-color: $light;
        }
        
        
        aside{
            border-radius: 1rem;
            margin-top: 1rem;
            font-family: $font-monospace;
            margin: 1rem;
            background-color: $lighter;
            box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
            padding: 1rem 2rem;
        }
    }

    .footer{
    background-color: $darker;
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
    
    // position: fixed;
    margin: 0;
    }
    
}

