//Fonter
$font-sans-serif: 'Comfortaa', sans-serif;
$font-monospace: 'Nanum+Gothic+Coding', monospace;
//Farger
$darker: rgb(0, 44, 45);
$dark: rgb(0, 79, 82);
$medium: rgb(121, 147, 148);
$light: rgb(169, 188, 189);
$lighter: rgb(210, 224, 224);
$constrast: rgb(234, 130, 20);