//Fonter
$font-sans-serif: 'Comfortaa', sans-serif;
$font-monospace: 'Nanum+Gothic+Coding', monospace;
//Farger
$darker: rgb(0, 57, 59);
$dark: rgb(0, 79, 82);
$medium: rgb(29, 111, 114);
$light: rgb(108, 167, 170);
$lighter: rgb(172, 208, 209);
$constrast: rgb(234, 130, 20);